# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.*.local

# Build files
dist/
build/

# IDE files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# System files
.DS_Store
Thumbs.db
